## Looking for difference in data set

In [1]:
import pandas as pd

In [18]:
df = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/used_data/cleaned-dataset.xlsx')
df.columns

Index(['Title', 'Safe Harbor', 'Vulnearbilities Rewarded', 'Average Payout',
       'Hall of Famers', 'Number People', 'Maximum Reword', 'annocument_count',
       'Industry', 'Technology', 'Technology API Target',
       'Technology Web Targets', 'Technology Android Targets',
       'Technology IoT Targets', 'Technology iOS Targets',
       'Technology Hardware Targets', 'Featured Staff Picks',
       'Featured BCTeamHunt2022', 'Featured New Scope & Increased Rewards',
       'Featured Self Service', 'Featured Highest Reward Range',
       'Featured Coordinated Disclosure', 'Featured Atlassian',
       'Featured Needs a P1 warrior', 'Has Technology', 'Has Featured',
       'Has Industry', 'Reward Range Average', 'Validation Within Hours',
       'P1 Average', 'P2 Average', 'P3 Average', 'P4 Average', 'Is Private'],
      dtype='object')

In [37]:
df_hardware = df[df['Technology Hardware Targets'] == 1]

In [39]:
df_hardware["annocument_count"].mean()

7.545454545454546

In [40]:
df["annocument_count"].mean()

3.6231003039513676

In [34]:
largest_average_payout= df.nlargest(10, 'Average Payout')
largest_average_payout

,Title,Safe Harbor,Vulnearbilities Rewarded,Average Payout,Hall of Famers,Number People,Maximum Reword,annocument_count,Industry,Technology,...,Has Technology,Has Featured,Has Industry,Reward Range Average,Validation Within Hours,P1 Average,P2 Average,P3 Average,P4 Average,Is Private
94,FIS,Safe harbor,614,6190.50,127,260,100000,39,Banking and Ficial Services,NaN,...,False,True,True,50000.0,360,17500.0,6250.0,1350.0,100.0,0
315,Xfinity Home & xFi,Not Safe Harbor,113,6062.50,114,734,10000,4,NaN,"Hardware Targets,IoT Targets",...,True,True,False,1750.0,120,2500.0,975.0,450.0,125.0,0
226,Rarible,Safe harbor,29,5250.00,56,598,10000,3,Electronics and Technology,"API Targets,Web Targets",...,True,True,True,2500.0,48,4000.0,1500.0,175.0,25.0,0
1,1Password,Not Safe Harbor,138,3162.50,132,783,1000000,12,Electronics and Technology,NaN,...,False,True,True,15150.0,144,30000.0,6000.0,600.0,300.0,0
293,Under Armour AppSec,Partial safe harbor,427,2500.00,1138,1769,0,8,eCommerce and Retail,NaN,...,False,False,True,1312.5,48,1850.0,1100.0,500.0,125.0,0
47,Cash App,Not Safe Harbor,31,2428.57,44,289,0,1,Banking and Ficial Services,NaN,...,False,False,True,4075.0,72,7000.0,2750.0,1050.0,175.0,0
102,Gearset: Managed Bug Bounty,Safe harbor,23,2300.00,20,209,0,3,Electronics and Technology,API Targets,...,True,True,True,3100.0,96,5500.0,2750.0,725.0,225.0,0
72,Dell Technologies' Products Bug Bounty Program,Partial safe harbor,55,2100.00,23,104,0,1,Electronics and Technology,Hardware Targets,...,True,False,True,2600.0,1440,5000.0,3000.0,1500.0,200.0,0
277,Tesla,Partial safe harbor,682,1740.00,680,3004,0,1,NaN,Hardware Targets,...,True,True,False,7550.0,48,9000.0,1750.0,350.0,150.0,0
254,SpaceX/Starlink,Not Safe Harbor,55,1660.56,43,397,0,3,NaN,NaN,...,False,True,False,12500.0,96,12500.0,5000.0,2500.0,500.0,0

In [35]:
largest_rows = df.nlargest(10, 'Number People')
largest_rows

,Title,Safe Harbor,Vulnearbilities Rewarded,Average Payout,Hall of Famers,Number People,Maximum Reword,annocument_count,Industry,Technology,...,Has Technology,Has Featured,Has Industry,Reward Range Average,Validation Within Hours,P1 Average,P2 Average,P3 Average,P4 Average,Is Private
172,Netflix,Not Safe Harbor,747,1020.37,1088,4742,0,7,NaN,"Android Targets,API Targets,iOS Targets",...,True,True,False,10100.0,48,12000.0,2750.0,1000.0,350.0,0
128,Indeed,Safe harbor,1637,851.06,1497,3852,0,18,NaN,"Android Targets,API Targets,Web Targets",...,True,True,False,5025.0,48,7000.0,2500.0,600.0,125.0,0
277,Tesla,Partial safe harbor,682,1740.00,680,3004,0,1,NaN,Hardware Targets,...,True,True,False,7550.0,48,9000.0,1750.0,350.0,150.0,0
38,Bugcrowd,Safe harbor,509,300.00,706,2822,0,2,NaN,NaN,...,False,True,False,5150.0,72,6250.5,1700.5,600.5,300.0,0
310,Western Union,Not Safe Harbor,455,550.00,898,2618,0,13,Banking and Ficial Services,Android Targets,...,True,False,True,1550.0,120,2250.0,1100.0,500.0,150.0,0
18,Atlassian,Not Safe Harbor,1890,1329.41,693,2603,0,12,NaN,NaN,...,False,True,False,5100.0,264,10000.0,3600.0,1200.0,300.0,0
111,Hack Me!,Not Safe Harbor,148,0.00,189,2474,0,3,NaN,NaN,...,False,False,False,0.0,0,5010.0,2500.0,500.0,150.5,0
215,Pinterest,Safe harbor,462,1132.50,817,2432,0,8,NaN,Android Targets,...,True,True,False,12500.0,96,22500.0,3000.0,800.0,100.0,0
27,Binance,Partial safe harbor,292,0.00,305,2403,100000,8,Banking and Ficial Services,iOS Targets,...,True,True,True,5100.0,24,7500.0,3250.0,1050.0,400.0,0
234,SEEK,Partial safe harbor,310,609.09,644,2340,0,11,Electronics and Technology,"Android Targets,API Targets",...,True,False,True,5025.0,96,7500.0,2850.0,450.0,125.0,0

In [28]:
max = df["Number People"].idxmax()
max

172

In [14]:
df = df[df["Has Technology"] == False]

In [15]:
non_technology_vulnearbilities = df['Vulnearbilities Rewarded'].mean()
print("Banking vulnearbilty rewarded average: ",round(non_technology_vulnearbilities,2))

Banking vulnearbilty rewarded average:  123.39

In [16]:
non_technology_number = df['Number People'].mean()
print("Banking vulnearbilty rewarded average: ",round(non_technology_number,2))

Banking vulnearbilty rewarded average:  452.92

In [17]:
non_technology_ap = df['Average Payout'].mean()
print("Banking vulnearbilty rewarded average: ",round(non_technology_ap,2))

Banking vulnearbilty rewarded average:  302.33

In [ ]:
import pandas as pd


df_07_01= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/data-octa/Bugcrowd_all_program_7_01_name_asc.xlsx')
df_24_12= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/data-octa/bugcrowd_modified_24.12.xlsx')

In [ ]:
list_df_07_01= df_07_01['Title']
list_df_24_12 = df_24_12['Title']

In [ ]:
set_df_07_01 = set(list_df_07_01)
set_df_24_12 = set(list_df_24_12)

print(len(set_df_07_01))
print(len(set_df_24_12))

324
263

In [ ]:
difference = set_df_07_01.difference(set_df_24_12)
print(len(difference))
print(difference)

66
{'Square Open Source', 'Wise (ex-TransferWise)', 'Leading threat management company needs your help !', 'Help Secure The Leader in Online Fundraising', 'Tamedia', 'U.S. Chemical Safety and Hazard Investigation Board - Vulnerability Disclosure Program', 'Santos Vulnerability Disclosure Program', 'Wyze Bug Bounty', 'OLX Autos', 'Fleet Management Application', 'Simplifying complex work wherever, and you can help secure it! (2x bonus rewards)', 'Upwork', 'Asana', 'Sky Disclosure Program', 'LifterLMS', 'HostGator Latam Bug Bounty', 'Chia Network', 'Office of Natural Resources Revenue', 'Newfold Vdeck Bug Bounty', 'Made in the USA', 'A Leading Financial Services and Insurance Company', 'A multinational telecommunications is looking for top talent to secure their huge attack surface!', 'MediaLab - Kik Vulnerability Disclosure Program', 'Hack Me!', "WestJet's Vulnerability Disclosure Program", 'Bullish.com', 'Help secure a shocking new eCommerce platform', 'Binance', 'Professional Counselling Provider', 'Moneytree KK', 'OneTrust', 'Mathematical software solutions provider', 'Intercom', 'Newfold Builder VDP', 'Caffeine', 'OLX EMEA', 'Appliances - Barracuda Networks, Inc.', 'Siteplus Vulnerability Disclosure Program', 'Xfinity Home & xFi', 'Latitude Financial Services Vulnerability Disclosure Program', 'Mettle', 'An electronics retailer would like your help!', 'Large US Insurance Provider', 'Ibotta', 'Netflix', 'Nine Entertainment Vulnerability Disclosure Program', 'Indeed', 'Retail Company', 'Application to find help around the house.', 'Bureau of Indian Affairs', 'Kistler Vulnerability Disclosure Program', 'NETGEAR Cash Rewards', 'IOOF Vulnerability Disclosure Program', 'Help Keep a Financial Company Secure!', 'Cisco Meraki', 'Bitget', 'Step Public Applications', 'The Scotts Miracle-Gro Company Responsible Disclosure', 'Square', 'U.S. Geological Survey', 'A consumer device maker is looking for help securing its hardware/software assets', 'Bullish exchange', 'Click here to submit a support ticket!', 'Arrow Electronics VDP', 'SoundCloud', 'Hostopia Australias Vulnerability Disclosure Program'}

In [ ]:
df_24_12.columns

Index(['Reward Range', 'Link', 'Title', 'Short Description', 'Is Safe Harbor',
       'Vulnearbilities Rewarded', 'Validation Within', 'Average Payout',
       'Number People', 'Hall of Famers', 'P1', 'P2', 'P3', 'P4',
       'Programm Rules'],
      dtype='object')

In [ ]:
df_24_12 = df_24_12.rename(columns={'Name':'Title'})

In [ ]:
df_07_01.columns

Index(['Reward Range', 'Link', 'Title', 'Short Description', 'Is Safe Harbor',
       'Vulnearbilities Rewarded', 'Validation Within', 'Average Payout',
       'Hall of Famers', 'Number People', 'P4', 'P3', 'P2', 'P1',
       'Maximum Reword', 'programm_ruels', 'annocument_count'],
      dtype='object')

In [ ]:
columns_to_update = ["P1","P2","P3","P4"]
for col in columns_to_update:
    df_07_01.loc[:,col] = df_24_12.loc[:,col]

In [ ]:
df_07_01.to_excel('7.01-check.xlsx', index=False)

## Merging all data sets

### Features

In [ ]:
df_BCTEAMHUNT = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/BCTeamHunt2022 - Discovery - Bugcrowd.xlsx')
df_ATLASSiAN = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Explore Atlassian - Discovery - Bugcrowd.xlsx')
df_HIGHESTREWARD = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Highest Reward Range - Discovery - Bugcrowd.xlsx')
df_P1WARRIOR= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Needs a P1 warrior - Discovery - Bugcrowd.xlsx')
df_COORDINATORDISCLOSED= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Programs with Coordinated Disclosure - Discovery - Bugcrowd.xlsx')
df_SELFSERVICE = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Self Service - Discovery - Bugcrowd.xlsx')
df_STAFFPICK= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/Staff Picks - Discovery - Bugcrowd.xlsx')
df_NEWSCOPE= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/New Scope _amp; Increased Rewards - Discovery - Bugcrowd.xlsx')

In [ ]:
df_list = [df_BCTEAMHUNT, df_ATLASSiAN, df_HIGHESTREWARD, df_P1WARRIOR, df_COORDINATORDISCLOSED, df_SELFSERVICE, df_STAFFPICK, df_NEWSCOPE]
print(len(df_list))

8

In [ ]:
df_ATLASSiAN.head()

,Title,Title_URL,Image,bcprogramcard__byline,Reward
0,Nextup.ai,https://bugcrowd.com/nextupai,https://logos.bugcrowdusercontent.com/logos/c0...,Please submit your finding to Nextup.ai's bug ...,"$1,500"
1,K15t,https://bugcrowd.com/k15t,https://logos.bugcrowdusercontent.com/logos/ae...,Apps to Amplify the Atlassian Experience for E...,"$1,500"
2,Stiltsoft,https://bugcrowd.com/stiltsoft,https://logos.bugcrowdusercontent.com/logos/7e...,Stiltsoft's bug bounty program,"$3,000"
3,Atlassian,https://bugcrowd.com/atlassian,https://logos.bugcrowdusercontent.com/logos/28...,Collaboration tools for teams of all sizes,"$10,000"
4,Trello,https://bugcrowd.com/trello,https://logos.bugcrowdusercontent.com/logos/18...,"Trello keeps track of everything, from the big...","$10,000"

In [ ]:
df_ATLASSiAN["Featured"]="Atlassian"

In [ ]:
df_BCTEAMHUNT["Featured"]= "BCTeamHunt2022"

In [ ]:
df_HIGHESTREWARD["Featured"]= "Highest Reward Range"

In [ ]:
df_P1WARRIOR["Featured"]= "Needs a P1 warrior"

In [ ]:
df_COORDINATORDISCLOSED["Featured"]= "Coordinated Disclosure"

In [ ]:
df_SELFSERVICE["Featured"]= "Self Service"

In [ ]:
df_STAFFPICK["Featured"]= "Staff Picks"
df_STAFFPICK.head()

,Title,Title_URL,Image,bcprogramcard__byline,Reward,Featured
0,Upwork,https://bugcrowd.com/upwork,https://logos.bugcrowdusercontent.com/logos/25...,Hire Freelancers & Get Freelance Jobs Online,"$120 - $10,000",Staff Picks
1,TripAdvisor,https://bugcrowd.com/tripadvisor-bb-og,https://logos.bugcrowdusercontent.com/logos/85...,The world’s largest travel site. Know better. ...,"$100 - $5,000",Staff Picks
2,ClickHouse,https://bugcrowd.com/clickhouse,https://logos.bugcrowdusercontent.com/logos/4a...,"ClickHouse is an open-source, column-oriented ...","$50 - $2,500",Staff Picks
3,Bullish.com,https://bugcrowd.com/bullish,https://logos.bugcrowdusercontent.com/logos/a0...,Help Secure Bullish - a new breed of exchange,"$200 - $12,000",Staff Picks
4,USAA,https://bugcrowd.com/usaa,https://logos.bugcrowdusercontent.com/logos/31...,We proudly serve millions of military members ...,"$100 - $6,000",Staff Picks

In [ ]:
df_NEWSCOPE["Featured"]= "New Scope & Increased Rewards"

### Merging features

In [ ]:
# concatenate DataFrames
result_df = pd.concat(df_list, axis=0, ignore_index=True, join='outer',keys=["df_BCTEAMHUNT", "df_ATLASSiAN", "df_HIGHESTREWARD", "df_P1WARRIOR", "df_COORDINATORDISCLOSED", "df_SELFSERVICE", "df_STAFFPICK", "df_NEWSCOPE"])

In [ ]:
result_df.columns

Index(['Title', 'Title_URL', 'Image', 'bcprogramcard__byline', 'Reward',
       'Featured'],
      dtype='object')

In [ ]:
result_df =result_df.drop(labels=['Title_URL','Image', 'bcprogramcard__byline', 'Reward'], axis=1)

In [ ]:
result_df.head()

                                               Title        Featured
0                             Video Viewing Platform  BCTeamHunt2022
1       Help Secure The Leader in Online Fundraising  BCTeamHunt2022
2                                                FIS  BCTeamHunt2022
3                  Professional Counselling Provider  BCTeamHunt2022
4  A consumer device maker is looking for help se...  BCTeamHunt2022

In [ ]:
result_df.to_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /featured/featured_programs.xlsx", index=False)

### Industries

In [ ]:
df_BANKING = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /industry/Banking and Financial Services - Discovery - Bugcrowd.xlsx')
df_BUSINESS = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /industry/Business Management Solutions and Software - Discovery - Bugcrowd.xlsx')
df_CLOUD= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /industry/Cloud Services - Discovery - Bugcrowd.xlsx')
df_ECOMMERCE= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /industry/eCommerce and Retail - Discovery - Bugcrowd.xlsx')
df_ELECTRONICS= pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /industry/Electronics and Technology - Discovery - Bugcrowd.xlsx')

In [ ]:
df_list_industry = [df_BANKING, df_BUSINESS, df_CLOUD, df_ECOMMERCE, df_ELECTRONICS]

In [ ]:
df_BANKING["Industry"]="Banking and Financial Services"
df_BUSINESS["Industry"]="Business Management Solutions and Software"
df_CLOUD["Industry"]="Cloud Services"
df_ECOMMERCE["Industry"]="eCommerce and Retail"
df_ELECTRONICS["Industry"]="Electronics and Technology"

In [ ]:
result_industry = pd.concat(df_list_industry, axis=0, ignore_index=True, join='outer',keys=["df_BANKING", "df_BUSINESS", "df_CLOUD", "df_ECOMMERCE", "df_ELECTRONICS"])

In [ ]:
result_industry.head()

,Title,Title_URL,Image,bcprogramcard__byline,Reward,Industry
0,Bullish.com,https://bugcrowd.com/bullish,https://logos.bugcrowdusercontent.com/logos/a0...,Help Secure Bullish - a new breed of exchange,"$200 - $12,000",Banking and Financial Services
1,Step Public Applications,https://bugcrowd.com/step-public,https://logos.bugcrowdusercontent.com/logos/25...,Step’s mission is to equip younger generations...,"$200 - $10,000",Banking and Financial Services
2,USAA,https://bugcrowd.com/usaa,https://logos.bugcrowdusercontent.com/logos/31...,We proudly serve millions of military members ...,"$100 - $6,000",Banking and Financial Services
3,End to End Payment Solution,https://bugcrowd.com/programs/teasers/NN5Yd45g...,https://assets.bugcrowdusercontent.com/assets/...,Wide Scope Web and Mobile Targets,"$100 - $3,500",Banking and Financial Services
4,Global Financial Institution,https://bugcrowd.com/programs/teasers/little-s...,https://assets.bugcrowdusercontent.com/assets/...,Help to secure our Financial web applications ...,NaN,Banking and Financial Services

In [ ]:
result_industry =result_industry.drop(labels=['Title_URL','Image', 'bcprogramcard__byline', 'Reward'], axis=1)

In [ ]:
result_industry.head()

                          Title                        Industry
0                   Bullish.com  Banking and Financial Services
1      Step Public Applications  Banking and Financial Services
2                          USAA  Banking and Financial Services
3   End to End Payment Solution  Banking and Financial Services
4  Global Financial Institution  Banking and Financial Services

### Technology

In [ ]:
df_ANDROID= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/Android Targets - Discovery - Bugcrowd.xlsx")
df_API= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/API Targets - Discovery - Bugcrowd.xlsx")
df_HARDWARE= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/Hardware Targets - Discovery - Bugcrowd.xlsx")
df_iOS= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/iOS Targets - Discovery - Bugcrowd.xlsx")
df_IoT= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/IoT Targets - Discovery - Bugcrowd.xlsx")
df_WEB= pd.read_excel("/Users/patrickahrend/Developer/data-analytics-bugcrowd/discovery-page-data /technology/Web Targets - Discovery - Bugcrowd.xlsx")

In [ ]:
df_list_industry= [df_ANDROID, df_API, df_HARDWARE, df_iOS, df_IoT, df_WEB]

In [ ]:
df_ANDROID["Technology"]="Android Targets"
df_API["Technology"]="API Targets"
df_HARDWARE["Technology"]="Hardware Targets"
df_iOS["Technology"]="iOS Targets"
df_IoT["Technology"]="IoT Targets"
df_WEB["Technology"]="Web Targets"

In [ ]:
result_technology= pd.concat(df_list_industry, axis=0, ignore_index=True, join='outer',keys=["df_ANDROID", "df_API", "df_HARDWARE", "df_iOS", "df_IoT", "df_WEB"])

In [ ]:
result_technology.head()

,Title,Title_URL,Reward,Technology,Image,bcprogramcard__byline
0,Indeed,https://bugcrowd.com/indeed,"$50 - $10,000",Android Targets,NaN,NaN
1,Step Public Applications,https://bugcrowd.com/step-public,"$200 - $10,000",Android Targets,NaN,NaN
2,Rec Room Video Games,https://bugcrowd.com/recroom-og,"$150 - $2,500",Android Targets,NaN,NaN
3,Keeper Security Public Bounty Program,https://bugcrowd.com/keepersecurity,"$300 - $10,000",Android Targets,NaN,NaN
4,Bitget,https://bugcrowd.com/bitget-og,"$100 - $1,500",Android Targets,NaN,NaN

In [ ]:
result_technology =result_technology.drop(labels=['Title_URL','Image', 'bcprogramcard__byline', 'Reward'], axis=1)

In [ ]:
result_technology.head()

                                   Title       Technology
0                                 Indeed  Android Targets
1               Step Public Applications  Android Targets
2                   Rec Room Video Games  Android Targets
3  Keeper Security Public Bounty Program  Android Targets
4                                 Bitget  Android Targets

In [ ]:
result_industry.to_excel("industries.xlsx", index=False)

In [ ]:
result_industry

                                     Title                        Industry
0                              Bullish.com  Banking and Financial Services
1                 Step Public Applications  Banking and Financial Services
2                                     USAA  Banking and Financial Services
3              End to End Payment Solution  Banking and Financial Services
4             Global Financial Institution  Banking and Financial Services
..                                     ...                             ...
124                                NameJet      Electronics and Technology
125                  Arrow Electronics VDP      Electronics and Technology
126  Appliances - Barracuda Networks, Inc.      Electronics and Technology
127                          HostGator VDP      Electronics and Technology
128                                   SEEK      Electronics and Technology

[129 rows x 2 columns]

### Merging

In [ ]:
# checking for duplicates 
duplicate_titles = result_technology[result_technology.duplicated(subset='Title',keep=False)].Title.unique()
if duplicate_titles.any():
    print(f"The following Titles have multiple observations: {duplicate_titles}")
else:
    print("There are no duplicate Titles in the Dataframe")

## multiple duplicates in the data set

The following Titles have multiple observations: ['Indeed' 'Step Public Applications' 'Rec Room Video Games'
 'Keeper Security Public Bounty Program' 'Bitget' 'CoolBitX' 'BigCommerce'
 'Ostrom Vulnerability Disclosure Program'
 'MediaLab - Kik Vulnerability Disclosure Program'
 'Professional Counselling Provider' 'SEEK'
 'Exciting cloud-based iPad point of sale software company needs your help to secure their Web, API and mobile targets!'
 'Telstra VDP' 'Gusto VDP' 'Mobility Company Looking for Your Skills!'
 'Upwork'
 'Web, API, iOS and Android Applications in Ongoing Bounty Program'
 'Love Music? Help Keep Our Marketplace Secure!' 'Ibotta' 'CyberGhost'
 'Private Internet Access' 'Video Viewing Platform' 'NiceHash'
 'MediaLab - WorldStar Hip Hop Vulnerability Disclosure Program'
 'Leading Financial company needs your help!' 'Netflix'
 'Blue Jeans Network' 'State Farm VDP' 'Monash MBB'
 'Leading digital transaction provider. New mobile targets introduced recently!'
 'A fantasy sports platform with over 100 million users'
 'A Cryptocurrency payment system needs your help to secure multiple web applications, APIs and mobile applications!'
 'The leader in transport fuels.'
 'Identity platform for secure authentication'
 'Help a News Company Stay Secure!' 'SDKs and APIs Oh My!'
 '3 Easy payments' 'End to End Payment Solution'
 'Large US Insurance Provider' 'Retail Company'
 'Leading Survey Solutions Provider'
 'Test a unicorn in the airline ticketing and hotel booking industry!'
 'Sports and Gaming with Large Attack Surface'
 'Help secure the connection between teachers and students and build better classrooms'
 'Electroneum' 'USAA'
 'A consumer device maker is looking for help securing its hardware/software assets'
 'Application to find help around the house.'
 'Technology Company Looking to Work with You!'
 'Leading Cybersecurity Solutions Provider'
 'Help Secure The Leader in Online Fundraising'
 'A Patient Engagement Platform' 'Wyze Bug Bounty' 'LifterLMS'
 'Secure the Leading Sales Engagement Platform' 'Seagate VDP'
 'Help an AdTech Company Stay Safe!'
 'Transactional email service made for developers'
 'Mathematical software solutions provider'
 'Web + API Applications in this OnGoing Bug Bounty Program'
 'Simplifying complex work wherever, and you can help secure it! (2x bonus rewards)'
 'Web-Based Scientific Research Software'
 'Help Create a Secure & Better Way to Live' 'Rarible'
 'ThousandEyes Bug Bounty' 'iRobot' 'eero' 'Xfinity Home & xFi'
 'Aruba Networks Public Program' 'NETGEAR Cash Rewards'
 'Arlo Cash Rewards']

In [ ]:
result_technology = result_technology.groupby("Title").agg(lambda x: ",".join(x)).reset_index()

In [ ]:
duplicate_titles = result_industry[result_industry.duplicated(subset='Title',keep=False)].Title.unique()
if duplicate_titles.any():
    print(f"The following Titles have multiple observations: {duplicate_titles}")
else:
    print("There are no duplicate Titles in the Dataframe")

## no duplicates in result_industry

There are no duplicate Titles in the Dataframe

In [ ]:
duplicate_titles = result_df[result_df.duplicated(subset='Title',keep=False)].Title.unique()
if duplicate_titles.any():
    print(f"The following Titles have multiple observations: {duplicate_titles}")
else:
    print("There are no duplicate Titles in the Dataframe")

## duplicates found

The following Titles have multiple observations: ['FIS' 'Professional Counselling Provider' 'Atlassian' 'Upwork'
 '3 Easy payments' 'Trello' 'Be the Authority!' 'eazyBI'
 'Square Open Source' 'Pinterest' 'SpaceX/Starlink'
 'A Cryptocurrency payment system needs your help to secure multiple web applications, APIs and mobile applications!'
 'Keeper Security Public Bounty Program' 'Tesla' '1Password' 'ExpressVPN'
 'Bullish.com' 'Arlo Cash Rewards' 'Binance' 'PlanetHoster'
 'Tyler Technologies Data & Insights – Tyler Data Platform, powered by Socrata'
 'USAA']

In [ ]:
result_features = result_df.groupby("Title").agg(lambda x: ",".join(x)).reset_index()

In [ ]:
result_features.head()

,Title,Featured
0,1Password,"Highest Reward Range,Coordinated Disclosure"
1,20 Minuten,Coordinated Disclosure
2,3 Easy payments,"BCTeamHunt2022,Coordinated Disclosure"
3,A Cryptocurrency payment system needs your hel...,"Highest Reward Range,Self Service"
4,A consumer device maker is looking for help se...,BCTeamHunt2022

In [ ]:
result = result_features.merge(result_industry,on='Title',how='outer').merge(result_technology,on='Title',how='outer')

In [ ]:
result.head()

,Title,Featured,Industry,Technology
0,1Password,"Highest Reward Range,Coordinated Disclosure",Electronics and Technology,NaN
1,20 Minuten,Coordinated Disclosure,NaN,NaN
2,3 Easy payments,"BCTeamHunt2022,Coordinated Disclosure",eCommerce and Retail,"Android Targets,API Targets,iOS Targets,Web Ta..."
3,A Cryptocurrency payment system needs your hel...,"Highest Reward Range,Self Service",NaN,"Android Targets,API Targets,iOS Targets"
4,A consumer device maker is looking for help se...,BCTeamHunt2022,Electronics and Technology,"Android Targets,API Targets,iOS Targets"

In [ ]:
result.columns

Index(['Title', 'Featured', 'Industry', 'Technology'], dtype='object')

In [ ]:
result.shape

(237, 4)

In [ ]:
result.to_excel("results_discovery.xlsx", index=False)

In [ ]:
df_normal = pd.read_excel('/Users/patrickahrend/Developer/data-analytics-bugcrowd/data-octa/Bugcrowd_all_program_7_01_name_asc.xlsx')

In [ ]:
df_normal.shape

(325, 17)

In [ ]:
df_result = df_normal.merge(result,on='Title',how='outer')

In [ ]:
df_result.to_excel("07.01withdiscovery.xlsx", index=False)

In [ ]:
duplicate_titles = df_result[df_result.duplicated(subset='Title',keep=False)].Title.unique()
if duplicate_titles.any():
    print(f"The following Titles have multiple observations: {duplicate_titles}")
else:
    print("There are no duplicate Titles in the Dataframe")

## duplicates found

The following Titles have multiple observations: ['20 Minuten']